In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## EDA

In [111]:
train_data = pd.read_csv("C:/Users/JINU/Desktop/JINU/Coding/ML/ML_PRAC_2023_WINTER/Dacon/고객_대출등급_분류_해커톤/open/open/train.csv")
test_data = pd.read_csv("C:/Users/JINU/Desktop/JINU/Coding/ML/ML_PRAC_2023_WINTER/Dacon/고객_대출등급_분류_해커톤/open/open/test.csv")
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

In [101]:
train_data.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B

In [112]:
test_data.head()

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0

In [102]:
columns = train_data.columns
disc_columns = train_data.select_dtypes('object').columns
cont_columns = train_data.select_dtypes(exclude='object').columns
print(columns)
print(disc_columns)
print(cont_columns)

Index(['ID', '대출금액', '대출기간', '근로기간', '주택소유상태', '연간소득', '부채_대비_소득_비율', '총계좌수',
       '대출목적', '최근_2년간_연체_횟수', '총상환원금', '총상환이자', '총연체금액', '연체계좌수', '대출등급'],
      dtype='object')
Index(['ID', '대출기간', '근로기간', '주택소유상태', '대출목적', '대출등급'], dtype='object')
Index(['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수'],
      dtype='object')

In [103]:
disc_columns = disc_columns[disc_columns!='ID']
disc_columns #ID는 개별 고유 값이기 때문에 예측에 의미가 없다.

Index(['대출기간', '근로기간', '주택소유상태', '대출목적', '대출등급'], dtype='object')

In [104]:
#연속형은 나중에 다루고 이산형부터하자.

In [105]:
for column in disc_columns:
    print(train_data[column].value_counts(),end='\n'+ '-'*50 +'\n')

대출기간
 36 months    64479
 60 months    31815
Name: count, dtype: int64
--------------------------------------------------
근로기간
10+ years    31585
2 years       8450
< 1 year      7774
3 years       7581
1 year        6249
Unknown       5671
5 years       5665
4 years       5588
8 years       4888
6 years       3874
7 years       3814
9 years       3744
10+years       896
<1 year        370
3               89
1 years         56
Name: count, dtype: int64
--------------------------------------------------
주택소유상태
MORTGAGE    47934
RENT        37705
OWN         10654
ANY             1
Name: count, dtype: int64
--------------------------------------------------
대출목적
부채 통합     55150
신용 카드     24500
주택 개선      6160
기타         4725
주요 구매      1803
의료         1039
자동차         797
소규모 사업      787
이사          506
휴가          466
주택          301
재생 에너지       60
Name: count, dtype: int64
--------------------------------------------------
대출등급
B    28817
C    27623
A    16772
D    13354
E     7354
F     1954
G      420
Name: count, dtype: int64
--------------------------------------------------

In [118]:
for column in disc_columns:
    print(column,sorted(train_data[column].unique()),end='\n'+ '-'*50 +'\n')

print()
for column in disc_columns[:-1]:
    print(column,sorted(test_data[column].unique()),end='\n'+ '-'*50 +'\n')

대출기간 [' 36 months', ' 60 months']
--------------------------------------------------
근로기간 ['1 year', '1 years', '10+ years', '10+years', '2 years', '3', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '< 1 year', '<1 year', 'Unknown']
--------------------------------------------------
주택소유상태 ['ANY', 'MORTGAGE', 'OWN', 'RENT']
--------------------------------------------------
대출목적 ['기타', '부채 통합', '소규모 사업', '신용 카드', '의료', '이사', '자동차', '재생 에너지', '주요 구매', '주택', '주택 개선', '휴가']
--------------------------------------------------
대출등급 ['A', 'B', 'C', 'D', 'E', 'F', 'G']
--------------------------------------------------

대출기간 [' 36 months', ' 60 months']
--------------------------------------------------
근로기간 ['1 year', '1 years', '10+ years', '10+years', '2 years', '3', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '< 1 year', '<1 year', 'Unknown']
--------------------------------------------------
주택소유상태 ['MORTGAGE', 'OWN', 'RENT']
--------------------------------------------------
대출목적 ['결혼', '기타', '부채 통합', '소규모 사업', '신용 카드', '의료', '이사', '자동차', '재생 에너지', '주요 구매', '주택', '주택 개선', '휴가']
--------------------------------------------------

In [107]:
#대출기간은 3년 or 6년
#근로 기간은 1년 미만, 1년-9년 각각, 10년 이상
#ㄴ특이 사항은 1 year과 1 years, 10+ years와 10+years의 데이터를 하나로 통일해주어야한다.
#주택 소유상태는 4가지 ['ANY', 'MORTGAGE', 'OWN', 'RENT'] any는 무슨데이터지?
#대출목적도 다양함.
#대출등급은 A-G까지 뭐가 높은지는 아직 미지수이다. 높은지 보다 예측이라고 생각한다면 편할 듯 해보임.

In [108]:
train_corr = train_data.corr(numeric_only=True)
train_corr

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
대출금액,1.000000,0.273975,0.002263,0.212309,-0.014775,0.379061,0.615680,0.011853,0.000182
연간소득,0.273975,1.000000,-0.044594,0.145403,0.040260,0.137552,0.114311,0.000333,0.009854
부채_대비_소득_비율,0.002263,-0.044594,1.000000,0.058830,0.000699,-0.016180,0.018565,0.000711,0.000051
총계좌수,0.212309,0.145403,0.058830,1.000000,0.112092,0.083615,0.116299,0.000037,0.023652
최근_2년간_연체_횟수,-0.014775,0.040260,0.000699,0.112092,1.000000,-0.010048,0.008095,0.004612,0.133632
총상환원금,0.379061,0.137552,-0.016180,0.083615,-0.010048,1.000000,0.412385,0.015379,-0.005190
총상환이자,0.615680,0.114311,0.018565,0.116299,0.008095,0.412385,1.000000,0.057838,0.009257
총연체금액,0.011853,0.000333,0.000711,0.000037,0.004612,0.015379,0.057838,1.000000,0.006620
연체계좌수,0.000182,0.009854,0.000051,0.023652,0.133632,-0.005190,0.009257,0.006620,1.000000

In [109]:
train_data['근로기간'] = train_data['근로기간'].str.replace('1 years', '1 year')
train_data['근로기간'] = train_data['근로기간'].str.replace('< 1 year', '<1 year')
train_data['근로기간'] = train_data['근로기간'].str.replace('3 years', '3')
train_data['근로기간'] = train_data['근로기간'].str.replace('3', '3 years')
train_data['근로기간'] = train_data['근로기간'].str.replace('10+years', '10+ years')

In [119]:
test_data['근로기간'] = test_data['근로기간'].str.replace('1 years', '1 year')
test_data['근로기간'] = test_data['근로기간'].str.replace('< 1 year', '<1 year')
test_data['근로기간'] = test_data['근로기간'].str.replace('3 years', '3')
test_data['근로기간'] = test_data['근로기간'].str.replace('3', '3 years')
test_data['근로기간'] = test_data['근로기간'].str.replace('10+years', '10+ years')

In [120]:
for column in disc_columns:
    print(column,sorted(train_data[column].unique()),end='\n'+ '-'*50 +'\n')

print()
for column in disc_columns[:-1]:
    print(column,sorted(test_data[column].unique()),end='\n'+ '-'*50 +'\n')

대출기간 [' 36 months', ' 60 months']
--------------------------------------------------
근로기간 ['1 year', '1 years', '10+ years', '10+years', '2 years', '3', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '< 1 year', '<1 year', 'Unknown']
--------------------------------------------------
주택소유상태 ['ANY', 'MORTGAGE', 'OWN', 'RENT']
--------------------------------------------------
대출목적 ['기타', '부채 통합', '소규모 사업', '신용 카드', '의료', '이사', '자동차', '재생 에너지', '주요 구매', '주택', '주택 개선', '휴가']
--------------------------------------------------
대출등급 ['A', 'B', 'C', 'D', 'E', 'F', 'G']
--------------------------------------------------

대출기간 [' 36 months', ' 60 months']
--------------------------------------------------
근로기간 ['1 year', '10+ years', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '<1 year', 'Unknown']
--------------------------------------------------
주택소유상태 ['MORTGAGE', 'OWN', 'RENT']
--------------------------------------------------
대출목적 ['결혼', '기타', '부채 통합', '소규모 사업', '신용 카드', '의료', '이사', '자동차', '재생 에너지', '주요 구매', '주택', '주택 개선', '휴가']
--------------------------------------------------

In [124]:
train_data[train_data['주택소유상태']=='ANY']#test set에는 없는 값, 주택소유상태가 ANY인 줄이 하나 있음, 큰 데이터라 상관없겠지만 지우고 한다. 
train_data_C=train_data.drop(train_data[train_data['주택소유상태']=='ANY'].index)
train_data_C[train_data['주택소유상태']=='ANY']

Empty DataFrame
Columns: [ID, 대출금액, 대출기간, 근로기간, 주택소유상태, 연간소득, 부채_대비_소득_비율, 총계좌수, 대출목적, 최근_2년간_연체_횟수, 총상환원금, 총상환이자, 총연체금액, 연체계좌수, 대출등급]
Index: []